body {
    background-color: #F3F2F0;
}

.linked {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.top-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

img {
    width: 40px;
    height: 40px;
    margin: 15px;
    box-shadow: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;

    img {
        width: 50px;
        height: 50px;
        box-shadow: none;
    }
}

.about-section {
    display: flex;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.photos {
    #bannertony {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        border: 1px solid #F3F2F0;
        margin-bottom: 0%;
        overflow: auto;
    }

    #pfpstark {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        margin-top: 0%;
        margin-bottom: 10px;
    }
}

.name {
    margin-left: 10px;
    margin-top: 0%;

    button {
        border-radius: 15px;
        margin-bottom: 10px;
        width: 85px;
        height: 30px;
        font-weight: 600;
    }

    #follow {
        background-color: #0A66C2;
        color: white;

        border: 1px solid #0A66C2;
    }

    #connect {
        background-color: white;
        color: #0A66C2;
        border: 1px solid #0A66C2;
    }
}

h6 {
    color: darkgrey;
}

.Description {
    display: flex;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.featured {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    width: 260px;
    border-radius: 10px;

    img {
        width: 250px;
        height: 100px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 10px;
    }

    margin-bottom: 10px;
}

.Activity {
    display: flex;
    background-color: #FFFFFF;
    flex-flow: column wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50%;
    height: auto;
    border-radius: 10px;

    .post {
        background-color: white;
        border-radius: 15px;
        margin-bottom: 10px;
        width: 85px;
        height: 30px;
        font-weight: 600;
        border: 2px solid black;
    }

    .post:hover {
        background-color: darkgreen;
        border: 4px solid yellowgreen;
        color: gold;
    }
}

.postcard {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    width: 260px;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

.title {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    
}

.experience {
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.experiences {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid darkgrey;
    
}

.education {
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 100px;
}

.educate {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid darkgrey;
    overflow: auto;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .linked,
    .about-section,
    .Description,
    .featured,
    .Activity,
    .experience,
    .education {
        width: 100%; 
    }

    .links,
    .postcard {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin-left: 0;
    }

    .top-header {
        flex-direction: column;
        align-items: center;
    }

    .button-container {
        margin-right: 0;
        margin-top: 10px;
    }
    .experiences h2,
    .educate h2 {
        font-size: 14px;
        flex-wrap: nowrap;
        overflow: auto;
    }
    .experiences h3,
    .educate h3 {
        font-size: 10px;
        flex-wrap: nowrap;
        overflow: auto;
    }
}
